<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MedicalManagement.Properties.Settings.QLTapHoaConnectionString"
            connectionString="Data Source=DESKTOP-ES710A3\SQLEXPRESS;Initial Catalog=QLTapHoa;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MedicalManagement.Properties.Settings.QLTapHoaConnectionString1"
            connectionString="Data Source=HOANGHAI\SQLEXPRESS;Initial Catalog=QLTapHoa;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="IronBarCode.LicenseKey" value="IRONBARCODE.HOANGHAI.20327-4A924043FC-AL7G62-BD2CB4NV2DPL-35UYXZFNL3JC-E2VXX5VOMJJ4-PVXWEYTGMMRU-SDSCNIS6LPRF-3JZDT6-TPSYARSAAJGCUA-DEPLOYMENT.TRIAL-DRUBWG.TRIAL.EXPIRES.12.NOV.2021"/>
	</appSettings>
</configuration>